<mat-sidenav mode="side" opened>Sidenav content
    <mat-nav-list role="list">
        <mat-list-item role="listitem">
            <mat-icon mat-list-icon>home</mat-icon>
            <p matline>Home</p>
        </mat-list-item>
        <mat-list-item role="listitem"> <mat-icon mat-list-icon>subscriptions</mat-icon>
            <p matline>Subscriptions</p>
        </mat-list-item>
        <mat-list-item role="listitem"> <mat-icon mat-list-icon>history</mat-icon>
            <p matline>History</p>
        </mat-list-item>
      </mat-nav-list>      
</mat-sidenav>